<div class="multiselect-panels clearfix">
	<label>{{label}}</label>

	<div class="tip">Click on each item to select</div>

	<div class="multiselect-panels-column">
		<a {{action "selectAll"}} class="multiselect-panels-button">Select All</a>
		<div class="multiselect-panels-options">
			{{#each item in sortedContent}}
				<a {{action "addItem" item on="click"}} class="multiselect-panels-item">{{item.name}}</a>
			{{/each}}
		</div>
	</div>

	<div class="multiselect-panels-column">
		<a {{action "unselectAll"}} class="multiselect-panels-button">Deselect All</a>
		<div class="multiselect-panels-options">
			{{#each item in selected}}
				<a {{action "removeItem" item on="click"}} class="multiselect-panels-item">{{item.name}}</a>
			{{/each}}
		</div>
	</div>

</div>
